<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EHRView</title>
</head>
<body>
  <div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked popUpNav well">
        <li class="active">
          <a href="#"  class="clinicRecipe">处方用药</a>
        </li>
        <li class="divider">
        </li>
        <li>
          <a href="#"  class="clinicExamReport">检验</a>
        </li>
        <li class="divider">
        </li>
        <li>
          <a href="#"  class="clinicCheckReport">检查</a>
        </li>
        <li class="divider">
        </li>
        <li>
          <a href="#"  class="clinicOperationRecord">手术</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div id="PopUpContent" align="center">
      </div>
    </div>
  </div>
</div>
</body>
</html>