<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EHRView</title>
</head>
<body>
  <div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked popUpNav well">
        <li class="active">
          <a href="#" action="popHTML" class="iptRecordHome/getHtmlDocument">病案首页</a>
        </li>
        <li class="divider">
        </li>
        <li>
          <a href="#" action="popHTML" class="iptAdmissionNote/getHtmlDocument">入院记录</a>
        </li>
        <li class="line">
        </li>
        <li>
          <a href="#"  class="InpatientAdvice">医嘱</a>
        </li>
        <li class="divider">
        </li>
        <li>
          <a href="#"  class="iptExamReport">检验</a>
        </li>
        <li class="divider">
        </li>
        <li>
          <a href="#"  class="iptCheckReport">检查</a>
        </li>
        <li class="divider">
        </li>
        <li>
          <a href="#"  class="iptOperationRecord">手术</a>
        </li>
        <li class="divider">
        </li>
        <!-- 
        <li>
          <a href="#" class="SignsRecord">体温单</a>
        </li> -->
         <li class="divider">
        <li>
          <a href="#" class="iptTransfusionRecord">输血</a>
        </li>
        <li class="divider">
        </li>
        <li>
          <a href="#" action="popHTML" class="iptLeaveRecord/getHtmlDocument">出院记录</a>
        </li>
      </ul>
    
    </div>
    <div class="col-md-10">
      <div id="PopUpContent" align="center">
      </div>
    </div>
  </div>
</div>
</body>
</html>