<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>3~6岁儿童健康检查记录表</title>
</head>

<body style="padding: 20px;font-size: 12px">
	<style type="text/css">


.my table {
	border-bottom: #ccc solid 1px;
	border-left: #ccc solid 1px;
	border-top: #ccc solid 1px;
	text-align: left;
}

.my td {
	border-right: #ccc solid 1px;
	border-bottom: #ccc dotted 1px;
	padding: 4px;
}

.red {
	color: red;
	font-weight: bold;
}


</style>
		<div style="text-align: left; margin-bottom: 5px; font-size: 12px;">
		<table width="95%" border="0" align="center" cellpadding="0"
			cellspacing="0">
			<tr>
				<td colspan="3" align="center"
					style="font-size: 24px; height: 40px; line-height: 50px; padding-left: 6px;">
					3岁儿童健康检查记录表</td>
			</tr>
			<tr>
				<td align="right" style="padding-left: 6px; line-height: 24px;"><strong>编号：
				</strong><u th:text="${doc.elementText('PHRID')}"></u></td>
			</tr>
					<tr>
			<td style="border-bottom: 4px #09F solid;" colspan="2"></td>
		</tr>
		<tr>
			<td style="height: 1px;" colspan="2"></td>
		</tr>
		<tr>
			<td height="10" style="border-top: 1px #09f solid;" colspan="2"></td>
		</tr>
			
		</table>
	</div>
	
	<div class="my">
		<table width="95%" border="0" align="center" cellpadding="0"
			cellspacing="0">
			<tr>
				<td width="120" bgcolor="#CAE2F7"><strong>随访日期</strong></td>
				<td colspan="2" th:text="${doc.elementText('CheckupDate')}"></td>
			</tr>
			<tr>
				<td width="120" bgcolor="#CAE2F7"><strong>体格发育</strong></td>
				<td><strong>体重:</strong>
					<label th:text="${doc.elementText('Weight')}"></label>
					<label th:if="${doc.element('AppraiseWY') != null}" th:text="${doc.element('AppraiseWY').attributeValue('display')}"></label>
				</td>
				<td><strong>身长:</strong>
					<label th:text="${doc.elementText('Height')}"></label>
					<label th:if="${doc.element('AppraiseHY') != null}" th:text="${doc.element('AppraiseHY').attributeValue('display')}"></label>
				</td>
			</tr>
			<!-- 			<tr> -->
			<!-- 				<td width="120" bgcolor="#CAE2F7">体格发育评价</td> -->
			<!-- 				<td colspan="2">没有字段</td> -->
			<!-- 			</tr> -->
			<tr>
				<td width="120" rowspan="3" bgcolor="#CAE2F7">体格检查</td>
				<td colspan="2" width="305"><strong>面色：</strong>
					<label th:if="${doc.element('Face') != null}" th:text="${doc.element('Face').attributeValue('display')}"></label>
				</td>
				<!-- 				<td width="351"><strong>步态：</strong>没有字段</td> -->
			</tr>
			<tr>
				<td width="305"><strong>眼：</strong>
					<label th:if="${doc.element('Pupil') != null}" th:text="${doc.element('Pupil').attributeValue('display')}"></label>
				</td>
				<td width="351"><strong>耳：</strong>
					<label th:if="${doc.element('Ear') != null}" th:text="${doc.element('Ear').attributeValue('display')}"></label>
				</td>
			</tr>
			<tr>
				<td width="305"><strong>心肺：</strong>
					<label th:if="${doc.element('Heart') != null}" th:text="${doc.element('Heart').attributeValue('display')}"></label>
					， 
					<label th:if="${doc.element('Lung') != null}" th:text="${doc.element('Lung').attributeValue('display')}"></label>
				</td>
				<td width="351"><strong>肝脾：</strong>
					<label th:if="${doc.element('Liver') != null}" th:text="${doc.element('Liver').attributeValue('display')}"></label>
					， 
					<label th:if="${doc.element('Spleen') != null}" th:text="${doc.element('Spleen').attributeValue('display')}"></label>
				</td>
			</tr>
			<!-- 			<tr> -->
			<!-- 				<td width="120" bgcolor="#CAE2F7">发育评估</td> -->
			<!-- 				<td width="305"><strong>行为：</strong>（没有字段）</td> -->
			<!-- 				<td width="351"><strong>社交：</strong>（没有字段）</td> -->
			<!-- 			</tr> -->
			<tr>
				<td width="120" bgcolor="#CAE2F7">幼儿期患病情况</td>
				<td colspan="2" th:if="${doc.element('Sick') != null}" th:text="${doc.element('Sick').attributeValue('display')}">
				</td>
			</tr>
			<!-- 			<tr> -->
			<!-- 				<td width="120" bgcolor="#CAE2F7">过敏史</td> -->
			<!-- 				<td colspan="2">（没有字段）</td> -->
			<!-- 			</tr> -->
			<tr>
				<td width="120" bgcolor="#CAE2F7"><strong>其他</strong></td>
				<td colspan="2" th:text="${doc.elementText('Other')}"></td>
			</tr>
			<!-- 			<tr> -->
			<!-- 				<td width="120" bgcolor="#CAE2F7">转诊</td> -->
			<!-- 				<td colspan="2">    （没有字段）                </td> -->
			<!-- 			</tr> -->
			<tr>
				<td width="120" bgcolor="#CAE2F7"><strong>指导</strong></td>
				<td colspan="2">
					<label th:if="${doc.element('CDH_CORRECTION')!=null}" th:text="${doc.element('CDH_CORRECTION').elementText('Suggestion')}"></label>
				</td>
			</tr>
			<tr>
				<td width="120" bgcolor="#CAE2F7"><strong>随访医生签名</strong></td>
				<td colspan="2">
					<strong th:text="${doc.elementText('CheckDoctor')}"></strong>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
