<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>产后访视记录表</title>
</head>

<body style="padding: 20px;font-size: 12px">
	<style type="text/css">
.my table {
	border-bottom: #ccc solid 1px;
	border-left: #ccc solid 1px;
	border-top: #ccc solid 1px;
	text-align: left;
}

.my td {
	border-right: #ccc solid 1px;
	border-bottom: #ccc dotted 1px;
	padding: 4px;
}

.red {
	color: red;
	font-weight: bold;
}
</style>
	<div style="text-align: center; height: 40px; line-height: 40px; font-size: 16px; font-weight: bold;">产后访视记录表</div>
	<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
		<tr>
			<td width="500" height="30" align="left" style="padding-left: 10px"><strong>姓名</strong>
				<u th:text="${personName}"></u>
			</td>
			<td align="right"><strong>编号</strong><u th:text="${doc.elementText('PregnantID')}"></u></td>
		</tr>
				<tr>
			<td style="border-bottom: 4px #09F solid;" colspan="2"></td>
		</tr>
		<tr>
			<td style="height: 1px;" colspan="2"></td>
		</tr>
		<tr>
			<td height="10" style="border-top: 1px #09f solid;" colspan="2"></td>
		</tr>
		
	</table>
	<div class="my">
		<table width="95%" border="0" align="center" cellpadding="0"
			cellspacing="0">
			<tr>
				<td bgcolor="#CAE2F7" width="20%"><strong>随访日期</strong></td>
				<td th:text="${doc.elementText('VisitDate')}"></td>
				<td bgcolor="#CAE2F7" width="20%"><strong>产后天数</strong></td>
				<td th:text="${doc.elementText('PostnatalDays')}"></td>
			</tr>
			<tr>
				<td bgcolor="#CAE2F7"><strong>体 温</strong></td>
				<td th:text="${doc.elementText('Temperature') + '℃'}"></td>
				<td bgcolor="#CAE2F7"><strong>脉 搏(次/分)</strong></td>
				<td><span th:if="${doc.elementText('Pulse') != ''}" th:text="${doc.elementText('Pulse') + '次/分'}"></span></td>
			</tr>
			<tr>
				<td bgcolor="#CAE2F7"><strong>血 压</strong></td>
				<td colspan="3"><span th:text="${doc.elementText('Constriction')}"></span>/<span th:text="${doc.elementText('Diastolic')}"></span>mmHg</td>
			</tr>
			<tr>
				<td bgcolor="#CAE2F7"><strong>乳 房</strong></td>
				<td colspan="3"><span th:if="${doc.element('Breast') != null}" th:text="${doc.element('Breast').attributeValue('display')}"></span></td>
			</tr>
			<tr>
				<td bgcolor="#CAE2F7"><strong>乳 头</strong></td>
				<td><span th:if="${doc.element('Nipple') != null}" th:text="${doc.element('Nipple').attributeValue('display')}"></span></td>
				<td bgcolor="#CAE2F7"><strong>乳 汁</strong></td>
				<td><span th:if="${doc.element('Latex') != null}" th:text="${doc.element('Latex').attributeValue('display')}"></span></td>
			</tr>
			<tr>
				<td bgcolor="#CAE2F7"><strong>恶 露</strong></td>
				<td><span th:if="${doc.element('Lochia') != null}" th:text="${doc.element('Lochia').attributeValue('display')}"></span></td>
				<td bgcolor="#CAE2F7"><strong>恶露色</strong></td>
				<td><span th:if="${doc.element('LochiaColor') != null}" th:text="${doc.element('LochiaColor').attributeValue('display')}"></span></td>
			</tr>
			<tr>
				<td bgcolor="#CAE2F7"><strong>恶露臭</strong></td>
				<td><span th:if="${doc.element('LochiaStench') != null}" th:text="${doc.element('LochiaStench').attributeValue('display')}"></span></td>
				<td bgcolor="#CAE2F7"><strong>恶露量</strong></td>
				<td><span th:if="${doc.element('LochiaMeasure') != null}" th:text="${doc.element('LochiaMeasure').attributeValue('display')}"></span></td>
			</tr>
			<tr>
				<td bgcolor="#CAE2F7"><strong>宫底高度</strong></td>
				<td th:text="${doc.elementText('Palace')}"></td>
				<td bgcolor="#CAE2F7"><strong>感 染</strong></td>
				<td><span th:if="${doc.element('Infectant') != null}" th:text="${doc.element('Infectant').attributeValue('display')}"></span></td>
			</tr>
			<tr>
				<td bgcolor="#CAE2F7"><strong>伤 口</strong></td>
				<td><span th:if="${doc.element('Wound') != null}" th:text="${doc.element('Wound').attributeValue('display')}"></span></td>
				<td bgcolor="#CAE2F7"><strong>愈合情况</strong></td>
				<td><span th:if="${doc.element('Healing') != null}" th:text="${doc.element('Healing').attributeValue('display')}"></span></td>
			</tr>
			<tr>
				<td bgcolor="#CAE2F7"><strong>特殊情况记录</strong></td>
				<td colspan="3" th:text="${doc.elementText('SpecialCases')}"></td>
			</tr>
			<tr>
				<td bgcolor="#CAE2F7"><strong>分 类</strong></td>
				<td colspan="3"><span th:if="${doc.element('Classification') != null}" th:text="${doc.element('Classification').attributeValue('display')}"></span></td>
			</tr>
			<tr>
				<td bgcolor="#CAE2F7"><strong>宣 教</strong></td>
				<td><span th:if="${doc.element('Propaganda') != null}" th:text="${doc.element('Propaganda').attributeValue('display')}"></span></td>
				<td bgcolor="#CAE2F7"><strong>指 导</strong></td>
				<td><span th:if="${doc.element('Suggestion') != null}" th:text="${doc.element('Suggestion').attributeValue('display')}"></span></td>
			</tr>
			<tr>
				<td bgcolor="#CAE2F7"><strong>转 诊</strong></td>
				<td colspan="3"><span th:if="${doc.element('Referral') != null}" th:text="${doc.element('Referral').attributeValue('display')}"></span></td>
			</tr>
			<tr>
				<td bgcolor="#CAE2F7"><strong>访视机构</strong></td>
				<td colspan="3" th:text="${doc.elementText('CheckUnit')}">
				</td>
			</tr>
			<tr>
				<td bgcolor="#CAE2F7"><strong>随访医生签名</strong></td>
				<td colspan="3" th:text="${doc.elementText('CheckDoctor')}"></td>

			</tr>
		</table>
	</div>
</body>
</html>
