<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>ehr.root</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/config/spring/spring.xml</param-value>
	</context-param>
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>6000</param-value>
	</context-param>
	
	<!-- <listener>
		<listener-class>
			com.sun.xml.ws.transport.http.servlet.WSServletContextListener
		</listener-class>
	</listener> -->
	
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>  
        <listener-class>  
            org.springframework.web.context.request.RequestContextListener  
        </listener-class>  
	</listener>  
<!-- 	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener> -->
	<listener>
		<listener-class>com.bsoft.ehr.auth.SessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>ctd.listner.OnlineListner</listener-class>
	</listener>
	
  	<servlet>
		<servlet-name>springServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/config/spring/spring.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Dispatcher</servlet-name>
		<servlet-class>com.bsoft.ehr.servlet.CustomDispatcher</servlet-class>
		<init-param>
			<param-name>DEBUG</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>ThreadLocal</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
        <servlet-name>rpcServer</servlet-name>  
        <servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>  
        <init-param>  
        	<param-name>home-class</param-name>
        	<param-value>ctd.net.rpc.server.HessianServiceDispather</param-value>
       </init-param>
	</servlet>
	<servlet>
		<servlet-name>photoServlet</servlet-name>
		<servlet-class>ctd.servlet.PhotoServlet</servlet-class>
		<init-param>
			<param-name>photoDirectory</param-name>
			<param-value>temp</param-value>
		</init-param>
		<init-param>
			<param-name>imgDirectory</param-name>
			<param-value>photo</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ScriptLoader</servlet-name>
		<servlet-class>ctd.servlet.ScriptLoader</servlet-class>
		<init-param>
			<param-name>basePath</param-name>
			<param-value>script</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ResourcesLoader</servlet-name>
		<servlet-class>ctd.servlet.ResourcesLoader</servlet-class>
		<init-param>
			<param-name>basePath</param-name>
			<param-value>resources/css</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>SchemaLoader</servlet-name>
		<servlet-class>ctd.servlet.SchemaLoader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfigLoader</servlet-name>
		<servlet-class>ctd.servlet.ConfigLoader</servlet-class>
		<init-param>
			<param-name>basePath</param-name>
			<param-value>component/gis</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>DictionaryLoader</servlet-name>
		<servlet-class>ctd.servlet.DictionaryLoader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HTMLTemplateLoader</servlet-name>
		<servlet-class>ctd.servlet.HTMLTemplateLoader</servlet-class>
		<init-param>
			<param-name>templatePath</param-name>
			<param-value>resources/template.html</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>logonSSO</servlet-name>  
        <servlet-class>com.bsoft.ehr.api.sso.LogonInterfaceServlet</servlet-class>  
	</servlet>
	
	<servlet>
    	<servlet-name>LogonInterfaceService</servlet-name>
    	<servlet-class>com.bsoft.ehr.servlet.LogonInterfaceServlet</servlet-class>
  	</servlet>
  
	<servlet>
    	<servlet-name>EhrLogonServlet</servlet-name>
    	<servlet-class>com.bsoft.ehr.servlet.EhrLogonServlet</servlet-class>
  	</servlet>
  	<servlet>
		<servlet-name>userJob</servlet-name>
		<servlet-class>com.bsoft.ehr.servlet.UserJobServlet</servlet-class>
	</servlet>
	
	<!-- <servlet>
		<description>JAX-WS endpoint - GetDsDetailService</description>
		<display-name>GetDsDetailService</display-name>
		<servlet-name>GetDsDetailService</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetDsDetailService</servlet-name>
		<url-pattern>/GetDsDetailPort</url-pattern>
	</servlet-mapping> -->
	<servlet-mapping>
		<servlet-name>Dispatcher</servlet-name>
		<url-pattern>*.jsonRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>  
        <servlet-name>rpcServer</servlet-name>  
	    <url-pattern>/rpc/*</url-pattern>  
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScriptLoader</servlet-name>
		<url-pattern>*.jsc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourcesLoader</servlet-name>
		<url-pattern>/resources/css/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SchemaLoader</servlet-name>
		<url-pattern>*.schema</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DictionaryLoader</servlet-name>
		<url-pattern>*.dic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HTMLTemplateLoader</servlet-name>
		<url-pattern>*.jshtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfigLoader</servlet-name>
		<url-pattern>/configloader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>photoServlet</servlet-name>
		<url-pattern>*.uploadPhoto</url-pattern>
	</servlet-mapping>
	<servlet-mapping>  
        <servlet-name>logonSSO</servlet-name>  
	    <url-pattern>/api/logon</url-pattern>  
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>springServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
   	 	<servlet-name>EhrLogonServlet</servlet-name>
    	<url-pattern>/EhrLogonService</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>LogonInterfaceService</servlet-name>
    	<url-pattern>/interface/logon</url-pattern>
  	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userJob</servlet-name>
		<url-pattern>/interface/getUerJob</url-pattern>
	</servlet-mapping>
	
	
	<session-config>
		<session-timeout>0</session-timeout>
	</session-config>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
