<div class="mod-height">
	<p class="portlet-title">门诊</p>
	<div class="content">
		<table width="98%" id="ClinicRecordTable" cellpadding="0" cellspacing="0" border="0" align="center" class="tj_list"></table>
	</div>
	<!--content end-->
	<div class="pageBar">
		<!-- <b>诊断名称:</b><input id="zdmc" type="text" style="height: 26px;width: 60px">&nbsp;
		<b>诊断日期:</b><input id="jzrq" type="text" style="height: 26px;width: 70px">&nbsp;
		<b>诊断科室：</b><input id="jzksmc" type="text" style="height: 26px;width: 60px">&nbsp;
		<b>诊断机构：</b><input id="jgdmtext" type="text" style="height: 26px;width: 60px">&nbsp;
		<button class="btn-success">搜索</button> -->
		<a href="#" rel="prePage" refId="ClinicRecordTable" appId="ClinicRecord" style="display:none;">上一页</a>&nbsp;&nbsp;
		<a href="#" rel="nextPage" refId="ClinicRecordTable" appId="ClinicRecord" style="display:none;">下一页</a>
	</div>
</div>
<!--tjjl end-->