<div class="mod-height">
	<p class="portlet-title">检验</p>
	<div class="content">
		<div class="LabRecordContent">
			<table id="examReportTb" class="tj_list" width="98%" cellpadding="0" cellspacing="0"
			border="0" align="center"></table>
		</div>
	</div>
	<div class="pageBar">
		<!-- <b>检验类型:</b><input id="typeName" type="text" style="height: 26px;width: 70px">&nbsp;
		<b>检验日期：</b><input id="effectiveTime" type="text" style="height: 26px;width: 70px">&nbsp;
		<b>检验机构：</b><input id="authorOrganizationName" type="text" style="height: 26px;width: 70px">&nbsp;
		<button class="btn-success">搜索</button> -->
		<a href="#" rel="prePage" refId="examReportTb" appId="ExamReport" style="display:none;">上一页</a>&nbsp;&nbsp;
		<a href="#" rel="nextPage" refId="examReportTb" appId="ExamReport" style="display:none;">下一页</a>
	</div>
</div>