<row class='privacy'>
	<div class='col-md-1'></div>
	<div id="roleList" class='col-md-4'>
		<div class=" rolePanel panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">普通医生</h3>
			</div>
			<div class="panel-body">
				<select id='jclb' style="height:100%" multiple class="form-control">
							
				</select>
			</div>
			<div class="panel-footer">调阅“普通人群”的VIEW时，隐私数据以***屏蔽显示。无权调阅“特殊人群”的VIEW。</div>
		</div>
	</div>
	<div id="jobList" class='col-md-6'>
		<row>
			<div id="sqysbar" class='col-md-2'>
				<div class="buttonsTool">
					<button type="button" class="btn add btn-primary btn-sm">增加<span class="glyphicon glyphicon-chevron-right"></span></button>
					<button type="button" class="btn del btn-primary btn-sm">删除<span class="glyphicon glyphicon-chevron-left"></span></button>
				</div>
			</div>
			<div id="toolbar" class='col-md-10'>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">授权医生</h3>
					</div>
					<div class="panel-body">
						<select id='sqys' multiple class="form-control">
							
						</select>
					</div>
					<div class="panel-footer">调阅“普通人群”的VIEW时，隐私数据以明文显示，能查看全部信息。无权调阅标识为“特殊人群”的VIEW。</div>
				</div>
			</div>
		</row>

		<row>
			<div id="gbysbar" class='col-md-2'>
				<div class="buttonsTool">
					<button type="button" class="btn add btn-primary btn-sm">增加<span class="glyphicon glyphicon-chevron-right"></span></button>
					<button type="button" class="btn del btn-primary btn-sm">删除<span class="glyphicon glyphicon-chevron-left"></span></button>
				</div>
			</div>
			<div id="toolebar" class='col-md-10'>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">干保医生</h3>
					</div>
					<div class="panel-body">
						<select id='gbys' multiple class="form-control">
						</select>
					</div>
					<div class="panel-footer">调阅“特殊人群”的VIEW时，能查看全部信息。</div>
				</div>
			</div>

		</row>
	</div>
	<div class='col-md-1'></div>
</row>