<div class="panel panel-default panelTrim" style="overflow:auto;">
	<div class="portlet-title" id="Lifecycle">生命周期</div>
	<div class="panel-body">
		<div class="panel-group lifecycle" id="accordion-lifecycle">
			<div id="babyhood" class="panel panel-default">
				<div class="panel-heading" style="background-color: #EEFCD3">
					<h4 class="panel-title">
						<a class="title1" data-toggle="collapse"
							data-parent="#accordion-lifecycle" style="color: #5F8E49"
							href="#collapseOne">婴儿期(<d class="num"></d>)</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="panel-group" id="lifecycleItems1">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="mz title2" data-toggle="collapse" 
											data-parent="#lifecycleItems1" href="#mzcollapseOne"> 门诊(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="mzcollapseOne" class="mz panel-collapse collapse in">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="zy title2" data-toggle="collapse" 
											data-parent="#lifecycleItems1" href="#zycollapseOne"> 住院(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="zycollapseOne" class="zy panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="jc title2" data-toggle="collapse" 
											data-parent="#lifecycleItems1" href="#jccollapseOne"> 检查(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="jccollapseOne" class="jc panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="ss title2" data-toggle="collapse" 
											data-parent="#lifecycleItems1" href="#sscollapseOne"> 手术(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="sscollapseOne" class="ss panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="pageBar">
								<a href="#" rel="prePage" appId="babyhood" style="display:none;">上一页</a>&nbsp;&nbsp;
								<a href="#" rel="nextPage" appId="babyhood" style="display:none;">下一页</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="childhood" class="panel panel-default">
				<div class="panel-heading" style="background-color: #EEEED3">
					<h4 class="panel-title">
						<a class="title1" data-toggle="collapse" 
							data-parent="#accordion-lifecycle" style="color: #5F8E49"
							href="#collapseTwo">儿童期(<d class="num"></d>)</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="panel-group" id="lifecycleItems2">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="mz title2" data-toggle="collapse" 
											data-parent="#lifecycleItems2" href="#mzcollapseTwo"> 门诊(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="mzcollapseTwo" class="mz panel-collapse collapse in">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="zy title2" data-toggle="collapse" 
											data-parent="#lifecycleItems2" href="#zycollapseTwo"> 住院(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="zycollapseTwo" class="zy panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="jc title2" data-toggle="collapse"
											data-parent="#lifecycleItems2" href="#jccollapseTwo"> 检查(<d class="num"></d>)
										 </a>
									</h4>
								</div>
								<div id="jccollapseTwo" class="jc panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="ss title2" data-toggle="collapse"
											data-parent="#lifecycleItems2" href="#sscollapseTwo"> 手术(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="sscollapseTwo" class="ss panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="pageBar">
								<a href="#" rel="prePage" appId="childhood" style="display:none;">上一页</a>&nbsp;&nbsp;
								<a href="#" rel="nextPage" appId="childhood" style="display:none;">下一页</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="boyhood" class="panel panel-default">
				<div class="panel-heading" style="background-color: #EEEED3">
					<h4 class="panel-title">
						<a class="title1" data-toggle="collapse"
							data-parent="#accordion-lifecycle" style="color: #5F8E49"
							href="#collapseSix">少年期(<d class="num"></d>)</a>
					</h4>
				</div>
				<div id="collapseSix" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="panel-group" id="lifecycleItems3">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="mz title2" data-toggle="collapse"
											data-parent="#lifecycleItems3" href="#mzcollapseSix"> 门诊(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="mzcollapseSix" class="mz panel-collapse collapse in">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="zy title2" data-toggle="collapse"
											data-parent="#lifecycleItems3" href="#zycollapseSix"> 住院(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="zycollapseSix" class="zy panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="jc title2" data-toggle="collapse"
											data-parent="#lifecycleItems3" href="#jccollapseSix"> 检查(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="jccollapseSix" class="jc panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="ss title2" data-toggle="collapse"
											data-parent="#lifecycleItems3" href="#sscollapseSix"> 手术(<d class="num"></d>) 
										</a>
									</h4>
								</div>
								<div id="sscollapseSix" class="ss panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="pageBar">
								<a href="#" rel="prePage" appId="boyhood" style="display:none;">上一页</a>&nbsp;&nbsp;
								<a href="#" rel="nextPage" appId="boyhood" style="display:none;">下一页</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="adolescence" class="panel panel-default">
				<div class="panel-heading" style="background-color: #E3FEAE">
					<h4 class="panel-title">
						<a class="title1" data-toggle="collapse"
							data-parent="#accordion-lifecycle" style="color: #5F8E49"
							href="#collapseThree">青年期(<d class="num"></d>)</a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="panel-group" id="lifecycleItems4">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="mz title2" data-toggle="collapse"
											data-parent="#lifecycleItems4" href="#mzcollapseThree"> 门诊(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="mzcollapseThree" class="mz panel-collapse collapse in">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="zy title2" data-toggle="collapse"
											data-parent="#lifecycleItems4" href="#zycollapseThree"> 住院(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="zycollapseThree" class="zy panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="jc title2" data-toggle="collapse"
											data-parent="#lifecycleItems4" href="#jccollapseThree"> 检查(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="jccollapseThree" class="jc panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="ss title2" data-toggle="collapse"
											data-parent="#lifecycleItems4" href="#sscollapseThree"> 手术(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="sscollapseThree" class="ss panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="pageBar">
								<a href="#" rel="prePage" appId="adolescence" style="display:none;">上一页</a>&nbsp;&nbsp;
								<a href="#" rel="nextPage" appId="adolescence" style="display:none;">下一页</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="middleAge" class="panel panel-default">
				<div class="panel-heading" style="background-color: #B2F494">
					<h4 class="panel-title">
						<a class="title1" data-toggle="collapse"
							data-parent="#accordion-lifecycle" style="color: #5F8E49"
							href="#collapseFour">中年期(<d class="num"></d>)</a>
					</h4>
				</div>
				<div id="collapseFour" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="panel-group" id="lifecycleItems5">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="mz title2" data-toggle="collapse"
											data-parent="#lifecycleItems5" href="#mzcollapseFour"> 门诊(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="mzcollapseFour" class="mz panel-collapse collapse in">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="zy title2" data-toggle="collapse"
											data-parent="#lifecycleItems5" href="#zycollapseFour"> 住院(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="zycollapseFour" class="zy panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="jc title2" data-toggle="collapse"
											data-parent="#lifecycleItems5" href="#jccollapseFour"> 检查(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="jccollapseFour" class="jc panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="ss title2" data-toggle="collapse"
											data-parent="#lifecycleItems5" href="#sscollapseFour"> 手术(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="sscollapseFour" class="ss panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="pageBar">
								<a href="#" rel="prePage" appId="middleAge" style="display:none;">上一页</a>&nbsp;&nbsp;
								<a href="#" rel="nextPage" appId="middleAge" style="display:none;">下一页</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="gerontic" class="panel panel-default">
				<div class="panel-heading" style="background-color: #9BD083">
					<h4 class="panel-title">
						<a class="title1" data-toggle="collapse"
							data-parent="#accordion-lifecycle" style="color: #5F8E49"
							href="#collapseFive">老年期(<d class="num"></d>)</a>
					</h4>
				</div>
				<div id="collapseFive" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="panel-group" id="lifecycleItems6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="mz title2" data-toggle="collapse"
											data-parent="#lifecycleItems6" href="#mzcollapseFive"> 门诊(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="mzcollapseFive" class="mz panel-collapse collapse in">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="zy title2" data-toggle="collapse"
											data-parent="#lifecycleItems6" href="#zycollapseFive"> 住院(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="zycollapseFive" class="zy panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="jc title2" data-toggle="collapse"
											data-parent="#lifecycleItems6" href="#jccollapseFive"> 检查(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="jccollapseFive" class="jc panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="ss title2" data-toggle="collapse"
											data-parent="#lifecycleItems6" href="#sscollapseFive"> 手术(<d class="num"></d>)
										</a>
									</h4>
								</div>
								<div id="sscollapseFive" class="ss panel-collapse collapse">
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="pageBar">
								<a href="#" rel="prePage" appId="gerontic" style="display:none;">上一页</a>&nbsp;&nbsp;
								<a href="#" rel="nextPage" appId="gerontic" style="display:none;">下一页</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>