<div class="mod-height">
	<p class="portlet-title">用药</p>
	<div class="content">
		<div class="MedicalRecordContent">
			<table width="100%"
				class="table text-center table-bordered table-hover"
				id="iptAdviceDetail" style="table-layout:fixed">
			</table>
		</div>
	</div>
	<div class="pageBar">
		<!--  <b>药物名称:</b><input id="medicineName" type="text" style="height: 26px;width: 70px">&nbsp;
		<b>开药日期：</b><input id="prescribeDate" type="text" style="height: 26px;width: 70px">&nbsp;
		<b>用药途径：</b><input id="medicineWay" type="text" style="height: 26px;width: 40px">&nbsp;
		<b>药物分类：</b><input id="medicineCategory" type="text" style="height: 26px;width: 40px">&nbsp;
		<button class="btn-success">搜索</button>-->
		<a href="#" rel="prePage" refId="iptAdviceDetail" appId="MedicalRecord" style="display:none;">上一页</a>&nbsp;&nbsp;
		<a href="#" rel="nextPage" refId="iptAdviceDetail" appId="MedicalRecord" style="display:none;">下一页</a>
	</div>
</div>