 <div class="grxx mod-height">
   <p class="portlet-title">个人基本信息</p>
	<div class="infos clear">
		<p class="pho" title="照片">
			<img id="personalinfoPhoto" width="79" height="79" />
		</p>
		<ul class="info">
			<li title="卡号"><span id="Personallnfo_cardNo"></span></li>
			<li title="姓名"><span id="Personallnfo_personName"></span>( <span
				id="Personallnfo_sexCode"></span>)</li>
			<li class="ka" title="出生日期"><span id="Personallnfo_Birthday"></span>
			</li>
			<li class="ka" title="身份证号码" style="font-size:12px;"><span id="Personallnfo_idCard"></span>
			</li>
		</ul>
	</div>
	<!--infos end--> 

   <table width="100%" cellpadding="0" cellspacing="0" border="0" class="xinxi">
     <tr>
       <td align="center" width="60">联 系 人</td>
       <td>
         <span id="Personallnfo_contactName"></span>
       </td>
     </tr>
     <tr>
       <td align="center" width="70px;">文化程度</td>
       <td>
         <span id="Personallnfo_educationCode"></span>
       </td>
     </tr>
     <tr style="height:36px;">
       <td align="center">家庭住址</td>
       <td>
         <span id="Personallnfo_address"></span>
       </td>
     </tr>
     <tr>
       <td align="center">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</td>
       <td>
         <span id="Personallnfo_contactNo"></span>
       </td>
     </tr>
     <tr>
       <td align="center">责任医生</td>
       <td>
         <span id="Personallnfo_manaDoctor"></span>
       </td>
     </tr>
     <tr>
       <td style="height:36px;" align="center">管辖机构</td>
       <td>
         <span id="Personallnfo_manaUnit"></span>
       </td>
     </tr>
   </table>
   <div class="tu">
     <p class="bg">
       <a href="#" id="EHR_HealthRecord" class="allico popUp hide" title="个人基本信息">
         <img src="../img/arrow2.png" width='24' height='24' /> 
       </a>
       <a href="#" id="CDH" class="allico popUp hide" title="儿童">
         <img src="../img/et.png" /> 
       </a>
       <a href="#" id="MHC" class="allico popUp hide" title="孕产妇">
         <img src="../img/ycf.png" /> 
       </a>
       <a href="#" id="MDC_Diabetes" class="allico popUp hide" title="糖尿病">
         <img src="../img/tnb.png" /> 
       </a>
       <a href="#" id="MDC_Hypertension" class="allico popUp hide" title="高血压">
         <img src="../img/gxy.png" /> 
       </a>
       <a href="#" id="PSY_Psychosis" class="allico popUp hide" title="精神病">
         <img src="../img/jsb.png" /> 
       </a>
       <a href="#" id="MDC_OldPeopleRecord" class="allico popUp hide" title="老年人">
         <img src="../img/ln.png" /> 
       </a>
       <a href="#" id="family" class="allico familyPopUp" title="家族谱">
         <img src="../img/family.png" width='24' height='24' /> 
       </a>
     </p>
     <p class="bg">
       <a id="yj" class="allico hide" title="饮酒">
         <img src="../img/drink.png" /> 
       </a>
       <a id="byj" class="allico hide" title="不饮酒">
         <img src="../img/nodrink.png" /> 
       </a>
       <a id="xy" class="allico hide" title="吸烟">
         <img src="../img/smoke.png" /> 
       </a>
       <a id="bxy" class="allico hide" title="不吸烟">
         <img src="../img/nosmoke.png" /> 
       </a>
       <a id="dl" class="allico hide" title="锻炼">
         <img src="../img/train.png" /> 
       </a>
       <a id="bdl" class="allico hide" title="不锻炼">
         <img src="../img/notrain.png" /> 
       </a>
       <a id="pt" class="allico hide" title="偏甜">
         <img src="../img/pt.png" /> 
       </a>
       <a id="ps" class="allico hide" title="偏酸">
         <img src="../img/ps.png" /> 
       </a>
       <a id="px" class="allico hide" title="偏咸">
         <img src="../img/px.png" /> 
       </a>
       <a id="pl" class="allico hide" title="偏辣">
         <img src="../img/pl.png" /> 
       </a>
       <a id="py" class="allico hide" title="偏油腻">
         <img src="../img/py.png" /> 
       </a>
     </p>
   </div>
 </div>
 <!--grxx end--> 