<row class='privacy'>
	<div class='col-md-1'></div>
	<div id="diseases" class='col-md-5'>
		<div class=" panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">疾病诊断</h3>
			</div>
			<div class="panel-body">
				<div class="panel-group" id="accordion"></div>
			</div>
			<div class="panel-footer">请勾选疾病</div>
		</div>
	</div>
	<div id="ss" class='col-md-5'>
		<div class=" panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">手术</h3>
			</div>
			<div class="panel-body">
				<div class="panel-group" id="ssaccordion"></div>
			</div>
			<div class="panel-footer">请勾手术</div>
		</div>
	</div>
	<div class='col-md-1'></div>
</row>