 <div class="ggws">
	<p class="portlet-title">公共卫生服务记录</p>
	<ul class="ggws_list">
	   <li><a href="#" class="blue">新生儿访视记录</a><br />最后一次随访时间：2012-09-20<a href="#" class="tip" title="您有二条未读记录"><img src="../img/tip2.png"  /></a></li>
	   <li><a href="#" class="blue">新生儿访视记录</a><br />最后一次随访时间：2012-09-20<a href="#" class="tip" title="您有二条未读记录"><img src="../img/tip2.png"  /></a></li>
	   <li><a href="#" class="blue">新生儿访视记录</a><br />最后一次随访时间：2012-09-20</li>
	   <li><a href="#" class="blue">新生儿访视记录</a><br />最后一次随访时间：2012-09-20</li>
	   <li class="none"><a href="#" class="blue">新生儿访视记录</a><br />最后一次随访时间：2012-09-20</li>
	</ul>
</div>