<div class="mod-height">
	<p class="portlet-title">输血</p>
	<div class="content">
		<div class="TransfusionRecordContent" page="1">
			<table id="transfusionRecordTb" class="tj_list" width="98%" cellpadding="0" cellspacing="0"
			border="0" align="center"><tbody></tbody></table>
		</div>
	</div>
	<div class="pageBar">
		<!-- <b>血型:</b><input id="aBOBloodCode_Text" type="text" style="height: 26px;width: 60px">&nbsp;
		<b>输血日期：</b><input id="bloodTransfusionDateTime" type="text" style="height: 26px;width: 70px">&nbsp;
		<b>输血机构：</b><input id="authorOrganizationName" type="text" style="height: 26px;width: 60px">&nbsp;
		<button class="btn-success">搜索</button> -->
		<a href="#" rel="prePage" refId="transfusionRecordTb" appId="TransfusionRecord" style="display:none;">上一页</a>&nbsp;&nbsp;
		<a href="#" rel="nextPage" refId="transfusionRecordTb" appId="TransfusionRecord" style="display:none;">下一页</a>
	</div>
</div>