<div class="tjjl mod-height">
	<p class="portlet-title">住院</p>
	<div class="content">
		<table width="98%" id="treatmentTable" cellpadding="0" cellspacing="0"
			border="0" align="center" class="tj_list">
		</table>
	</div>
	<!--content end-->
	<div class="pageBar">
		<!-- <b>疾病名称:</b><input id="masterDiseaseName" type="text" style="height: 26px;width: 70px">&nbsp;
		<b>出入院日期：</b><input id="dateTime" type="text" style="height: 26px;width: 70px">&nbsp;
		<b>就诊机构：</b><input id="medicalInstitutions" type="text" style="height: 26px;width: 70px">&nbsp; 
		<button class="btn-success">搜索</button> -->
		<a href="#" rel="prePage" refId="treatmentTable" appId="TreatmentRecord" style="display:none;">上一页</a>&nbsp;&nbsp;
		<a href="#" rel="nextPage" refId="treatmentTable" appId="TreatmentRecord" style="display:none;">下一页</a>
	</div>
</div>
<!--tjjl end-->