 <div class="ggws mod-height">
            <p class="portlet-title">近期检验异常指标</p>
            <div class="content">
            <table width="100%" id="unsualTable" cellpadding="0" cellspacing="0" border="0" class="tb_list">
                <tr>
                    <th width="15%">检验日期</th>
                    <th width="18%">检验机构</th>
                    <th>项目名称</th>
                    <th width="12%">检验结果</th>
                    <th width="12%">计量单位</th>
                    <th width="15%">参考范围</th>
                 </tr>
            </table>
        </div>
          </div><!--ggws end-->