<div class="modal fade" style="margin: 150px" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog">
    <div class="">
      <div class="modal-body" align="center">
      	<div style="background: url(../resources/css/app/desktop/images/homepage/syslogin3.png) no-repeat;width:344px;height:239px;">
			<div style="width:300px; height:170px; padding-top:50px; padding-left:52px;">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td align="center"><label style="color:#FFF" id="user"></label></td>
						<td height="50"><input type="text" name="logonuser" id="logonuser" disabled style="width:175px;height:22px"/></td>
					</tr>
					<tr>
		   				<td align="center"><label style="color:#FFF" id="pwd"></label></td>
						<td height="50"><input type="password" name="password" id="password" style="width:175px;height:22px"/></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
		    			<td height="50">
							<input type="image" name="logonIn" id="logonIn" src="../pageImages/loginbut2.png" style="margin-top:10px;"/>
						</td>
					</tr>
				</table>
			</div>
		</div>
      </div>
    </div>
    <!-- /.modal-content --> </div>
  <!-- /.modal-dialog -->
</div>