<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>

</head>

<body style="padding: 20px;">
	<style type="text/css">
* {
	font-family: "微软雅黑", "宋体";
	font-size: 12px;
	padding: 0;
	margin: 0;
	list-style: none;
	color: #232323
}

table {
	border-collapse: collapse;
}

body {
	background-color: #ffffff
}

table {
	border-bottom: #ccc solid 1px;
	border-left: #ccc solid 1px;
	border-top: #ccc solid 1px;
	text-align: left;
}

td {
	border-right: #ccc solid 1px;
	border-bottom: #ccc dotted 1px;
	padding: 4px;
}

div {
	border-bottom: dotted #fff 1px;
	min-height: 20px;
}
</style>
	<div style="width: 100%; min-width: 500px;">
		<div style="text-align: center; font-size: 16px;"></div>
		<div
			style="text-align: center; font-size: 24px; height: 40px; line-height: 40px; font-weight: bold">入
			院 记 录</div>
		<div
			style="text-align: left; line-height: 30px; height: 30px; padding-left: 15px;">
			住院号<span th:if="${doc.element('BZBAH') != null}"
				th:text="${doc.element('BZBAH').getText()}"></span>
		</div>
		<div style="font-size: 12px;">
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td width="10%" bgcolor="#CAE2F7">姓 名：</td>
					<td width="40%" th:text="${personName}"></td>
					<td width="10%" bgcolor="#CAE2F7">性 别：</td>
					<!-- ${sexCode_text} -->
					<td width="40%"><span th:text="(${sexCode} == '1') ?'男':'女'"></span></td>
				</tr>
				<tr>
					<td width="80" bgcolor="#CAE2F7">出生日期：</td>
					<td th:text="${#dates.format(birthday,'yyyy-MM-dd')}"></td>
					<td width="80" bgcolor="#CAE2F7">出生地：</td>
					<td th:text="${registeredPermanent_text}"></td>
				</tr>
				<tr>
					<td width="80" bgcolor="#CAE2F7">民 族：</td>
					<td th:text="${nationCode_text}"></td>
					<td width="80" bgcolor="#CAE2F7">婚 姻：</td>
					<td th:text="${maritalStatusCode_text}"></td>
				</tr>
				<tr>
					<td width="80" bgcolor="#CAE2F7">职业：</td>
					<td th:text="${workCode_text}"></td>
					<td width="80" bgcolor="#CAE2F7">工作单位：</td>
					<td th:text="${workPlace}"></td>
				</tr>
				<tr>
					<td width="80" bgcolor="#CAE2F7">住 址：</td>
					<td th:text="${address}"></td>
					<td width="80" bgcolor="#CAE2F7">病史陈述者：</td>
					<td th:if="${doc.element('BZBSCSZ') != null}"
						th:text="${doc.element('BZBSCSZ').getText()}"></td>
				</tr>
				<tr>
					<td width="80" bgcolor="#CAE2F7">入院时间：</td>
					<td th:if="${doc.element('RYRQSJ') != null}"
						th:text="${doc.element('RYRQSJ').getText()}"></td>
					<td width="80" bgcolor="#CAE2F7">记录时间:</td>
					<td></td>
				</tr>
			</table>
		</div>
		<div style="height: 40px; line-height: 40px; padding-left: 15px;">
			<strong>主 诉:&nbsp;&nbsp;</strong><span
				th:if="${doc.element('BZZS') != null}"
				th:text="${doc.element('BZZS').getText()}"></span>
		</div>
		<div style="line-height: 18px;">
			<div
				style="background-color: #CAE2F7; height: 30px; border-bottom: 1px #ccc dotted; line-height: 30px; padding-left: 15px; font-size: 12px;">
				<strong>现病史:</strong>
			</div>
			<div style="text-indent: 2em; padding: 10px; font-size: 13px;">
				<p th:if="${doc.element('BZXBS') != null}"
					th:text="${doc.element('BZXBS').getText()}"></p>
			</div>
		</div>
		<div
			style="background-color: #CAE2F7; height: 30px; border-bottom: 1px #ccc dotted; line-height: 30px; padding-left: 15px; font-size: 12px;">
			<strong>既往史:</strong>
		</div>
		<div style="text-indent: 2em; padding: 10px; font-size: 13px;">
			<p th:if="${doc.element('BZJWS') != null}"
				th:text="${doc.element('BZJWS').getText()}"></p>
		</div>
		<div
			style="background-color: #CAE2F7; height: 30px; border-bottom: 1px #ccc dotted; line-height: 30px; padding-left: 15px; font-size: 12px;">
			<strong>个人史:</strong>
		</div>
		<div style="text-indent: 2em; padding: 10px; font-size: 13px;">
			<p th:if="${doc.element('BZGRS') != null}"
				th:text="${doc.element('BZGRS').getText()}"></p>
		</div>
		<div
			style="background-color: #CAE2F7; height: 30px; border-bottom: 1px #ccc dotted; line-height: 30px; padding-left: 15px; font-size: 12px;">
			<strong>婚姻史:</strong>
		</div>
		<div style="text-indent: 2em; padding: 10px; font-size: 13px;">
			<p th:if="${doc.element('BZHYS') != null}"
				th:text="${doc.element('BZHYS').getText()}"></p>
		</div>
		<div
			style="background-color: #CAE2F7; height: 30px; border-bottom: 1px #ccc dotted; line-height: 30px; padding-left: 15px; font-size: 12px;">
			<strong>家族史:</strong>
		</div>
		<div style="text-indent: 2em; padding: 10px; font-size: 13px;">
			<p th:if="${doc.element('BZJZS') != null}"
				th:text="${doc.element('BZJZS').getText()}"></p>
		</div>

		<div
			style="background-color: #CAE2F7; height: 30px; border-bottom: 1px #ccc dotted; line-height: 30px; padding-left: 15px; font-size: 12px;">
			<strong>喂养史:</strong>
		</div>
		<div style="text-indent: 2em; padding: 10px; font-size: 13px;">
			<p th:if="${doc.element('BZWYS') != null}"
				th:text="${doc.element('BZWYS').getText()}"></p>
		</div>
		<div
			style="background-color: #CAE2F7; height: 30px; border-bottom: 1px #ccc dotted; line-height: 30px; padding-left: 15px; font-size: 12px;">
			<strong>出生史:</strong>
		</div>
		<div style="text-indent: 2em; padding: 10px; font-size: 13px;">
			<p th:if="${doc.element('BZCSS') != null}"
				th:text="${doc.element('BZCSS').getText()}"></p>
		</div>
		<div
			style="background-color: #CAE2F7; height: 30px; border-bottom: 1px #ccc dotted; line-height: 30px; padding-left: 15px; font-size: 12px;">
			<strong>月经史:</strong>
		</div>
		<div style="text-indent: 2em; padding: 10px; font-size: 13px;">
			<p th:if="${doc.element('BZYJS') != null}"
				th:text="${doc.element('BZYJS').getText()}"></p>
		</div>
		<div
			style="background-color: #CAE2F7; height: 30px; border-bottom: 1px #ccc dotted; line-height: 30px; padding-left: 15px; font-size: 12px;">
			<strong>系统回顾(个人入院前的历史记录):</strong>
		</div>
		<div style="text-indent: 2em; padding: 10px; font-size: 13px;">
			<p th:if="${doc.element('BZXTHG') != null}"
				th:text="${doc.element('BZXTHG').getText()}"></p>
		</div>

		<div
			style="background-color: #CAE2F7; height: 30px; border-bottom: 1px #ccc dotted; line-height: 30px; padding-left: 15px; font-size: 12px;">
			<strong>体 格 检 查:</strong>
		</div>
		<div
			style="text-indent: 2em; padding: 10px; font-size: 10.5pt; line-height: 18px;"
			th:each="opt:${doc.element('Ipt_PhysiqueExams').elements()}">
			<p>
				体温：<span th:text="${opt.element('TW').getText()}"></span>℃
				&nbsp;&nbsp;&nbsp;脉率：<span th:text="${opt.element('XL').getText()}"></span>次/分
				&nbsp;&nbsp;&nbsp;呼吸频率：<span
					th:text="${opt.element('HXPL').getText()}"></span>次/分
				&nbsp;&nbsp;&nbsp;血压：<span th:text="${opt.element('SSY').getText()}"></span>/
				<span th:text="${opt.element('SZY').getText()}"></span>mmHg(kPa)
			</p>
		</div>
		<!--
          <div style="text-indent:2em; padding:10px; font-size:10.5pt; line-height:18px;">
				体温：<span  th:if="${doc.element('TW') != null}" th:text="${doc.element('TW').getText()}"></span>℃ 
				脉率：<span  th:if="${doc.element('XL') != null}" th:text="${doc.element('XL').getText()}"></span>次/分 
				呼吸频率：<span  th:if="${doc.element('HXPL') != null}" th:text="${doc.element('HXPL').getText()}"></span>次/分 
				血压：<span  th:if="${doc.element('SSY') != null}" th:text="${doc.element('SSY').getText()}"></span>/
				<span  th:if="${doc.element('SZY') != null}" th:text="${doc.element('SZY').getText()}"></span>mmHg(kPa)
        <p >一般情况：<span  th:if="${doc.element('CommomCondtionExaminationResul') != null}" th:text="${doc.element('CommomCondtionExaminationResul').getText()}"></span></p>
        <p >皮肤粘膜:<span  th:if="${doc.element('SkinMucosaExaminationResults') != null}" th:text="${doc.element('SkinMucosaExaminationResults').getText()}"></span></p>    
        <p >淋巴结：<span  th:if="${doc.element('WholeLymphExaminationResults') != null}" th:text="${doc.element('WholeLymphExaminationResults').getText()}"></span></p>  
        <p >头面部：<span  th:if="${doc.element('HeadExaminationResults') != null}" th:text="${doc.element('HeadExaminationResults').getText()}"></span></p>  
        <p >颈  部：<span  th:if="${doc.element('NeckExaminationResults') != null}" th:text="${doc.element('NeckExaminationResults').getText()}"></span></p>  
        <p >胸  部：<span  th:if="${doc.element('ChesExaminationResults') != null}" th:text="${doc.element('ChesExaminationResults').getText()}"></span></p>  
        <p >腹  部：<span  th:if="${doc.element('AbdominalExaminationResults') != null}" th:text="${doc.element('AbdominalExaminationResults').getText()}"></span></p>  
        <p >脊  柱：<span  th:if="${doc.element('SpinalExaminationResults') != null}" th:text="${doc.element('SpinalExaminationResults').getText()}"></span></p>
        <p >四  肢：<span  th:if="${doc.element('FourLimbsExaminationResults') != null}" th:text="${doc.element('FourLimbsExaminationResults').getText()}"></span></p>  
        <p >肛门指诊检查结果描述：<span  th:if="${doc.element('DreExaminationResults') != null}" th:text="${doc.element('DreExaminationResults').getText()}"></span></p>  
        <p >外生殖器检查：<span  th:if="${doc.element('GenitaliaExaminationResults') != null}" th:text="${doc.element('GenitaliaExaminationResults').getText()}"></span></p>
        <p >神经系统检查：<span  th:if="${doc.element('NeuralsysExaminationResults') != null}" th:text="${doc.element('NeuralsysExaminationResults').getText()}"></span></p>
          </div>
        -->
		<div
			style="background-color: #CAE2F7; height: 30px; border-bottom: 1px #ccc dotted; line-height: 30px; padding-left: 15px; font-size: 12px;">
			<strong>病史摘要：</strong>
		</div>
		<div style="text-indent: 2em; padding: 10px; font-size: 13px;">
			<p th:if="${doc.element('BZBSZY') != null}"
				th:text="${doc.element('BZBSZY').getText()}"></p>
		</div>
		<div
			style="background-color: #CAE2F7; height: 30px; border-bottom: 1px #ccc dotted; line-height: 30px; padding-left: 15px; font-size: 12px;">
			<strong>实 验 室 及 器 械 检 查：</strong>
		</div>
		<div style="text-indent: 2em; padding: 10px; font-size: 13px;">
			<p>辅助检查-实验室检查:</p>
			<p th:if="${doc.element('BZFZJC_SYSJC') != null}"
				th:text="${doc.element('BZFZJC_SYSJC').getText()}"></p>
			<p>辅助检查-特殊检查:</p>
			<p th:if="${doc.element('BZFZJC_TSJC') != null}"
				th:text="${doc.element('BZFZJC_TSJC').getText()}"></p>
			<p>辅助检查-病理检查:</p>
			<p th:if="${doc.element('BZFZJC_BLJC') != null}"
				th:text="${doc.element('BZFZJC_BLJC').getText()}"></p>
			<p>辅助检查-其他:</p>
			<p th:if="${doc.element('BZFZJC_QT') != null}"
				th:text="${doc.element('BZFZJC_QT').getText()}"></p>
		</div>
		<div style="font-size: 12px">
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td width="150" bgcolor="#CAE2F7"><p style="text-align: right" />
						<span>入院诊断：</span></td>
					<td th:if="${doc.element('BZCBZD') != null}"
						th:text="${doc.element('BZCBZD').getText()}"></td>
				</tr>
				<tr>
					<td width="100" bgcolor="#CAE2F7"><p style="text-align: right" />
						<span style="text-align: left">医师签名：</span></td>
					<td><span
						th:if="${doc.element('JZYSGH') != null and doc.element('JZYSGH').attribute('localText') != null}"
						th:text="${doc.element('JZYSGH').attribute('localText').getValue()}" />&nbsp;
						<span
						th:if="${doc.element('ZYYSGH') != null and doc.element('ZYYSGH').attribute('localText') != null}"
						th:text="${doc.element('ZYYSGH').attribute('localText').getValue()}" />
					</td>
				</tr>
				<tr>
					<td width="100" bgcolor="#CAE2F7">修正诊断：</td>
					<td th:if="${doc.element('BZXZZD') != null}"
						th:text="${doc.element('BZXZZD').getText()}"></td>
				</tr>
				<tr>
					<td width="100" align="left" bgcolor="#CAE2F7">主治及以上医师签名：</td>
					<td><span
						th:if="${doc.element('ZZYSGH') != null and doc.element('ZZYSGH').attribute('localText') != null}"
						th:text="${doc.element('ZZYSGH').attribute('localText').getValue()}" />&nbsp;
						<span
						th:if="${doc.element('ZRYSGH') != null and doc.element('ZRYSGH').attribute('localText') != null}"
						th:text="${doc.element('ZRYSGH').attribute('localText').getValue()}" />
					</td>
				</tr>
				<tr>
					<td width="100" align="left" bgcolor="#CAE2F7">日期：</td>
					<td th:if="${doc.element('RYRQSJ') != null}"
						th:text="${doc.element('RYRQSJ').getText()}"></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
